*{
  padding: 0;
  margin: 0;
}
.poppins-bold {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}
.poppins-regular{
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  padding: 0 12px 0 12px;
}
header h1{
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: #6070FF;

}

.fa-bars {
  width: 18px;
  height: 12px;
  top: 6px;
  left: 3px;
  color: #6070FF; 
}

.headline {
  font-size: 35px;
  padding: 0 12px 0 12px;
  line-height: 60px;
  color: #172B4D;
}
.headline p{
  font-size: 25px;
  line-height: 35px;
  color: #344563;
  margin: 10px 0 10px 0;
}
.headline h2{
  font-size: 16px;
  line-height: 24px;
  color: #6070FF;
}
.social-links{
  color: #505F79;
  ;
}