*{
  padding: 0;
  margin: 0;
}
.poppins-bold {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}
.poppins-regular{
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}
.main {
  background: url(background.png);
  background-repeat: no-repeat;

  
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  padding: 20px 20px 20px 20px;
}
header h1{
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: #6070FF;

}

.fa-bars {
  width: 18px;
  height: 12px;
  top: 6px;
  left: 3px;
  color: #6070FF; 
}

.headline {
  font-size: 35px;
  padding: 0 20px 0 20px;
  line-height: 52px;
  color: #172B4D;
  
}
.headline h1{
  padding: 100px 0 0 0;
}
.headline p{
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin: 10px 0 10px 0;
}
.headline h2{
  font-size: 16px;
  line-height: 24px;
  color: #6070FF;
}
.social-links{
  color: #505F79;
  font-size: 20px;
}
  

.social-links i:not(:last-child) {
  margin-right: 10px;
  
}